/* navigation */
#navbar {
    flex-direction: column;
    position: relative;
}

#navbar ul li a {
    font-size: 1.2rem;
    padding: 0px 7xp;
}
/* Home Section  */
#home{
height: 300px;
padding: 3px 28px;
}
#home::before{
height: 520px;

}
#home p{
    font-size: 13px;
}

/* Services section */
#services{

    flex-direction: column;
}

#services .box{
    padding: 15px;
    margin: 7px 0px;

}

#services-container::before{
     height: 1275px;
}
/* Client Section  */
#clients{

    flex-wrap: wrap;
}
#client-img{
    width: 60px;
    padding: 6px;
    height: auto;
}

#clients::before {

   height: 888px;
   z-index: -2;
}

/* Contact section  */
#contact-box form{
    width: 80%;
}

/* Footer  */

/* Utility Classes  */
.h-primary{
    font-size: 26px;
}

.btn{
    font-size: 13px;
    padding: 4px 9px;
}
